<div class="row">
  <div class="col-xs-12">
    <div class = "app-body-background-img">
      <img class="img-responsive" [src]=image [text]="'Shopping with friends'" appCanvas >
    </div>
    <div class="multiple-column">
      <section>
        <h1> Channel 10 report </h1>
        A moment before the exit - channel 10 wanted
          to interview us.....
      </section>
      <video width="320" height="240" controls>
        <source src="./videos/video.mp4" type="video/mp4">
      </video>
      <div class="border-radius">Our Mission is .... .</div>
  </div>
  <div class="app-body-background-title">
  </div>
</div>
