<a  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading"> {{product.name}}</h4>
    <p class="list-group-item-text"> {{product.category}}</p>
    <p class="list-group-item-text"> {{product.quantity}}</p>
  </div>
  <div  class="pull-right">
    <a [routerLinkActive]="['active']" [routerLink]="['/products/update',product.serial]" class="btn btn-success" >Edit</a>
    <a [routerLinkActive]="['active']" [routerLink]="['/products/delete',product.serial]"  class="btn btn-success" >Delete</a>
  </div>
</a>
